aiocache==0.12.0
aiohttp==3.8.4
aiosignal==1.3.2
aiosqlite==0.17.0
alembic==1.14.0
annotated-types==0.7.0
anyio==4.6.2.post1
appnope==0.1.4
arrow==1.3.0
arsenic==21.8
asgiref==3.5.2
astroid==3.3.10
asttokens==3.0.0
async-timeout==4.0.3
attrs==25.3.0
Authlib==1.5.2
backcall==0.2.0
backports-datetime-fromisoformat==2.0.3
bandit==1.8.3
bcrypt==4.2.1
beautifulsoup4==4.13.4
bleach==6.2.0
blinker==1.9.0
boltons==21.0.0
boolean.py==5.0
boto3==1.36.1
botocore==1.36.1
bracex==2.5.post1
Brotli==1.0.9
browser-cookie3==0.19.1
CacheControl==0.14.3
certifi==2024.12.14
cffi==1.17.1
chardet==3.0.4
charset-normalizer==3.4.1
click==8.1.8
click-option-group==0.5.7
colorama==0.4.6
cryptography==38.0.4
cyclonedx-python-lib==9.1.0
decorator==5.2.1
defusedxml==0.7.1
Deprecated==1.2.18
dill==0.4.0
dnspython==2.3.0
docker==7.1.0
docopt==0.6.2
dparse==0.6.4
exceptiongroup==1.2.2
executing==2.2.0
face==24.0.0
fastjsonschema==2.21.1
fernet==1.0.1
filelock==3.16.1
flake8==7.2.0
flake8-bandit==4.1.1
Flask==2.2.5
Flask-Bcrypt==1.0.1
Flask-Login==0.6.3
Flask-Mail==0.10.0
Flask-Migrate==4.1.0
Flask-ReCaptcha==0.4.2
Flask-Secrets==0.1.0
Flask-SQLAlchemy==3.1.1
flask-talisman==1.1.0
Flask-WTF==1.2.2
frozenlist==1.6.0
fuzzywuzzy==0.18.0
glom==22.1.0
googleapis-common-protos==1.70.0
greenlet==3.2.2
h11==0.14.0
h2==4.2.0
hpack==4.1.0
httpcore==0.17.3
httpx==0.24.1
httpx-ntlm==1.4.0
hyperframe==6.1.0
idna==3.10
importlib_metadata==7.1.0
ipython==8.12.3
isort==6.0.1
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.5
jmespath==1.0.1
joblib==1.5.0
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
kaitaistruct==0.10
ldap3==2.9.1
license-expression==30.4.1
loguru==0.7.3
lz4==4.4.4
Mako==1.3.8
markdown-it-py==3.0.0
MarkupSafe==2.1.1
marshmallow==4.0.0
matplotlib-inline==0.1.7
mccabe==0.7.0
mdurl==0.1.2
mistune==3.1.3
mitmproxy==9.0.0
mitmproxy_wireguard==0.1.23
msgpack==1.0.8
multidict==6.4.4
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nltk==3.9.1
onetimepass==1.0.1
opentelemetry-api==1.25.0
opentelemetry-exporter-otlp-proto-common==1.25.0
opentelemetry-exporter-otlp-proto-http==1.25.0
opentelemetry-instrumentation==0.46b0
opentelemetry-instrumentation-requests==0.46b0
opentelemetry-proto==1.25.0
opentelemetry-sdk==1.25.0
opentelemetry-semantic-conventions==0.46b0
opentelemetry-util-http==0.46b0
packageurl-python==0.16.0
packaging==21.3
pandocfilters==1.5.1
parso==0.8.4
passlib==1.7.4
pbr==6.1.1
peewee==3.18.1
pexpect==4.9.0
pickleshare==0.7.5
pip-api==0.0.34
pip-requirements-parser==32.0.1
pip_audit==2.9.0
pipreqs==0.5.0
platformdirs==4.3.8
prompt_toolkit==3.0.51
propcache==0.3.1
protobuf==4.25.7
psutil==6.1.1
ptyprocess==0.7.0
publicsuffix2==2.20191221
pure_eval==0.2.3
py-serializable==2.0.0
pyaes==1.6.1
pyasn1==0.4.8
pycodestyle==2.13.0
pycparser==2.22
pycryptodomex==3.23.0
pydantic==2.9.2
pydantic_core==2.23.4
pyflakes==3.3.2
Pygments==2.19.1
pylint==3.3.7
pylint-django==2.6.1
pylint-plugin-utils==0.8.2
pyOpenSSL==22.1.0
pyotp==2.9.0
pyparsing==3.0.9
pyperclip==1.8.2
PyQRCode==1.2.1
pyspnego==0.11.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-owasp-zap-v2.4==0.0.14
pytz==2024.2
PyYAML==6.0.2
pyzmq==26.4.0
qrcode==8.0
ree==2.3.2
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
rich==13.5.3
rpds-py==0.25.1
ruamel.yaml==0.17.40
ruamel.yaml.clib==0.2.12
s3transfer==0.11.1
safety==2.3.5
safety-schemas==0.0.14
semgrep==1.122.0
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
socksio==1.0.0
sortedcontainers==2.4.0
soupsieve==2.7
SQLAlchemy==2.0.24
stack-data==0.6.3
stevedore==5.4.1
stripe==11.4.1
structlog==20.2.0
tabulate==0.7.5
tenacity==9.1.2
termcolor==1.1.0
tinycss2==1.4.0
tld==0.13
toml==0.10.2
tomli==2.0.2
tomlkit==0.13.2
tornado==6.5
tqdm==4.67.1
traitlets==5.14.3
typer==0.15.4
types-python-dateutil==2.9.0.20241206
typing_extensions==4.4.0
urllib3==2.4.0
urwid==2.1.2
wapiti3==3.1.8
wcmatch==8.5.2
wcwidth==0.2.13
webencodings==0.5.1
Werkzeug==3.1.3
wrapt==1.17.2
wsproto==1.2.0
WTForms==3.2.1
yarg==0.1.9
yarl==1.20.0
yaswfp==0.9.3
zapcli==0.10.0
zipp==3.21.0
zstandard==0.18.0
