<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<body>

<div class="container mt-5 centre">
    <div class="position-relative text-center">
        <h2>Add New Product</h2>
    </div>

    <div class="mt-5">
        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.name.label(class="form-label font-weight-bold mt-4") }}
                {{ form.name(class="form-control", id="name") }}
            </div>

            <div class="mb-3">
                {{ form.description.label(class="form-label font-weight-bold mt-4") }}
                {{ form.description(class="form-control", id="description") }}
            </div>

            <div class="mb-3">
                {{ form.price.label(class="form-label font-weight-bold mt-4") }}
                {{ form.price(class="form-control", id="price") }}
            </div>

            <div class="mb-3">
                {{ form.image_url.label(class="form-label font-weight-bold mt-4") }}
                {{ form.image_url(class="form-control", id="image_url", type="file") }}
            </div>

            <button type="submit" class="btn btn-secondary w-100">Add Product</button>
        </form>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="alert alert-success mt-3">
                    {% for category, message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </div>

    <!-- Back Button Positioned Further Down -->
    <div class="mt-5">
        <a href="javascript:history.back()" class="btn btn-primary">Back</a>
    </div>
</div>

<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</body>
</html>
